@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto+Slab&display=swap');

body {
    background-color: lightsteelblue;
}

.cont {
    gap: 2em;
    margin: 1.5em;
    display: grid;
    font-family: 'JetBrains Mono', sans-serif;
    grid-template-columns: repeat(12, 1fr);
}

.title {
    font-weight: bolder;
    font-family: 'Roboto Slab', sans-serif;
    letter-spacing: 1px;
}

header.title {
    width: fit-content;
    margin: 1.5em auto;
    display: block;
}

.cont > .section {
    border: 2px solid black;
    padding: 2.5em 1em 1em 1em;
    position: relative;
    background-color: lightgoldenrodyellow;
}

.cont > .section > .title {
    top: -2px;
    right: -2px;
    width: 8em;
    color: ghostwhite;
    margin: 0;
    border: 2px solid black;
    padding: 0.2em 0;
    position: absolute;
    text-align: center;
}

#sub-title-1 {
    background-color: darkred;
}

#sub-title-2 {
    background-color: midnightblue;
}

#sub-title-3 {
    background-color: darkslategray;
}

@media (max-width: 767px) {

    .cont > .section {
        grid-column: span 12;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .cont > .section {
        grid-column: span 6;
    }
    
    .cont > .section:last-child:not(:nth-child(even)) {
        grid-column: span 12;
    }

}

@media (min-width: 992px) {

    .cont > .section {
        grid-column: span 4;
    }
    
    .cont > .section:last-child:not(:nth-child(3n - 1), :nth-child(3n)) {
        grid-column: span 12;
    }

    .cont > .section:last-child:not(:nth-child(3n + 1), :nth-child(3n)) {
        grid-column: span 8;
    }

}
